<!-- <ollama-chat></ollama-chat> -->
<mat-card cdkDrag cdkDragHandle class="action" color="primary" id="barr01">
  <mat-card-actions align="end">
    <!--  <div>
      <button mat-raised-button (click)="openDialog2('0ms', '0ms')"></button>
    </div> -->
   
    <div class="example-selected-value">{{group.value}}</div>
    <div>
      <input mat-fab color="accent" type="file" (click)="openDialog2('0ms', '0ms')" (change)="onFileSelected($event)"
        accept=".epub" placeholder="Select File..." />
    </div>

    <div>
      <mat-button-toggle-group #group="matButtonToggleGroup" matTooltip="Text align left">
        <mat-button-toggle aria-label="Text align left">
          <span class="material-symbols-outlined">
            format_align_left
          </span>
        </mat-button-toggle>
        <mat-button-toggle aria-label="Text align center" matTooltip="Text align center">
          <span class="material-symbols-outlined">
            format_align_center
          </span>
        </mat-button-toggle>
        <mat-button-toggle aria-label="Text align right" matTooltip="Text align right">
          <span class="material-symbols-outlined">
            format_align_right
          </span>
        </mat-button-toggle>
        <mat-button-toggle aria-label="Text align justify" matTooltip="Text align justify">
          <span class="material-symbols-outlined">
            format_align_justify
          </span>
        </mat-button-toggle>
      </mat-button-toggle-group>
    </div>
    <div>

      <button mat-fab color="accent" (click)="startAudioMode()" matTooltip="Read the book by pages, quickly."
        class="config-panel-toggle4" color="primary" mat-fab type="button">
        <span class="material-symbols-outlined">
          local_library
        </span>
      </button>
      <button mat-fab color="accent" (click)="fullRead()"
        matTooltip="Read the entire book, you need to have memory and patience!">
        <span class="material-symbols-outlined">skull</span>
      </button>
    </div>

    <mat-form-field appearance="fill" matTooltip="Mode: default, continuous, paginated, auto" mat-raised-button
      [matBadge]="currentPage">
      <mat-label>Layout Options</mat-label>
      <mat-select [(ngModel)]="selectedLayoutOption" (selectionChange)="changeRenderOption($event.value)">
        <mat-option value="default">Default</mat-option>
        <mat-option value="continuous">Continuous</mat-option>
        <mat-option value="paginated">Paginated</mat-option>
        <mat-option value="auto">Auto</mat-option>
      </mat-select>
    </mat-form-field>

    <div class="page-counter">
      <button (click)="prevPage()" matTooltip="Previous Page" class="config-panel-toggle4" color="primary" mat-fab
        type="button" [disabled]="selectedLayoutOption !== 'paginated'">
        <mat-icon svgIcon="mat:arrow_back_ios"></mat-icon>
      </button>
      <button mat-raised-button matTooltip="Page: {{currentPage}}">
        Page {{currentPage}} of {{booksService.totalPages}}
      </button>
      <button (click)="nextPage()" matTooltip="Next Page" class="config-panel-toggle4" color="primary" mat-fab
        type="button" [disabled]="selectedLayoutOption !== 'paginated'">
        <mat-icon svgIcon="mat:arrow_forward_ios">Next Page</mat-icon>
      </button>
    </div>
  </mat-card-actions>
</mat-card>

<mat-accordion #accordion>
  <mat-expansion-panel #storePanel hideToggle expanded>
    <mat-expansion-panel-header>
      <mat-panel-title>Book Store</mat-panel-title>
    </mat-expansion-panel-header>
    <div class="ebook-gallery">
      <div *ngFor="let ebook of ebooks" class="ebook-item" (click)="selectEbook(ebook)"
        matTooltip="{{ebook.title}} : {{ebook.author}} {{ebook.pageCount}} Pag">
        <mat-card class="example-card">
          <mat-card-header>
            <mat-card-title>{{ ebook.title }}</mat-card-title>
            <mat-card-subtitle>{{ ebook.author }}</mat-card-subtitle>
          </mat-card-header>
          <img mat-card-image [src]="ebook.cover" alt="{{ ebook.title }}">
          <mat-card-footer>
            <span>{{ ebook.pageCount }} Pag</span>
          </mat-card-footer>
        </mat-card>
      </div>
    </div>
  </mat-expansion-panel>

  <mat-expansion-panel #bookPanel hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title>Book</mat-panel-title>
    </mat-expansion-panel-header>
    <div id="area-de-exibicao"></div>
  </mat-expansion-panel>

  <!-- Novo Accordion para PDFs -->

  <!-- <mat-expansion-panel hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title>Classes</mat-panel-title>
    </mat-expansion-panel-header>
    <div class="ebook-gallery">
      <div *ngFor="let ebook of pdfLoaderService.ebooks$ | async" class="ebook-item" (click)="selectPdf(ebook)"
        matTooltip="{{ebook.title}} : {{ebook.author}} {{ebook.pageCount}} Pag">
        <mat-card class="example-card">
          <mat-card-header>
            <mat-card-title>{{ ebook.title }}</mat-card-title>
            <mat-card-subtitle>{{ ebook.author }}</mat-card-subtitle>
          </mat-card-header>
          <img mat-card-image [src]="ebook.cover" alt="{{ ebook.title }}">
          <mat-card-footer>
            <span>{{ ebook.pageCount }} Pag</span>
          </mat-card-footer>
        </mat-card>
      </div>
    </div>
  </mat-expansion-panel>

  <mat-expansion-panel #bookPanel hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title>Class Material</mat-panel-title>
    </mat-expansion-panel-header>
    <div id="area-de-exibicao"></div>
  </mat-expansion-panel> -->
</mat-accordion>
