.centered-and-enlarged {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4em; /* Ajuste o tamanho conforme necessário */
}

.mat-dialog-container {
  overflow: hidden !important; /* Remover overflow para a caixa de diálogo */
}

.mat-dialog-content {
  overflow: hidden !important; /* Remover overflow para o conteúdo do diálogo */
}

.custom-dialog-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden !important; /* Remover overflow para a classe personalizada */
}

.mat-progress-bar {
  width: 100%; /* Para garantir que a barra de progresso ocupe toda a largura */
}
