<!-- text-dialog.component.html -->
<div class="voze-container">
  <voz></voz>
</div>

<div class="dialog-content-container">
  <puzzle-block></puzzle-block>
  <div class="text-container" #textContainer>
    <p *ngFor="let sentence of sentences; let i = index" [class.highlighted]="i === currentSentenceIndex">
      <span *ngFor="let word of sentence.split(' '); let j = index"
        [class.current-word]="i === currentSentenceIndex && j === currentWordIndex">
        {{ word }}
      </span>
    </p>
  </div>
</div>


<div class="voice-selector">
  <mat-label><- -------------Choose Voice----------- -></mat-label>
  <mat-select [formControl]="selectedVoice">
    <mat-option *ngFor="let voice of voices" [value]="voice">{{ voice.name }} ({{ voice.lang }})</mat-option>
  </mat-select>
</div>


<!-- Floating buttons (left side) -->
<div class="floating-buttons left">

  <div class="button-container primary">
    <span class="button-label">Next Page</span>
    <button mat-fab color="primary" matTooltip="Next Page" (click)="nextPage()">
      <mat-icon svgIcon="mat:arrow_forward"></mat-icon>
    </button>
  </div>

  <div class="button-container accent">
    <span class="button-label">Phrase</span>
    <button mat-fab color="accent" matTooltip="Read by Phrase" (click)="chooseReadingMode('sentence')">
      <mat-icon svgIcon="mat:text_snippet"></mat-icon>
    </button>
  </div>

  <div class="button-container accent">
    <span class="button-label">Word</span>
    <button mat-fab color="accent" matTooltip="Read by Word" (click)="chooseReadingMode('word')">
      <mat-icon svgIcon="mat:book"></mat-icon>
    </button>
  </div>

  <div class="button-container primary">
    <span class="button-label">Pause</span>
    <button mat-fab color="accent" matTooltip="Pause Speaking" (click)="pauseSpeaking()">
      <mat-icon svgIcon="mat:pause"></mat-icon>
    </button>
  </div>

  <div class="button-container primary">
    <span class="button-label">Resume</span>
    <button mat-fab color="accent" matTooltip="Resume Speaking" (click)="resumeSpeaking()">
      <mat-icon svgIcon="mat:play_arrow"></mat-icon>
    </button>
  </div>

  <div class="button-container primary">
    <span class="button-label">Cancel</span>
    <button mat-fab color="accent" matTooltip="Cancel Speaking" (click)="cancelSpeaking()">
      <mat-icon svgIcon="mat:cancel"></mat-icon>
    </button>
  </div>

  <div class="button-container primary">
    <span class="button-label">Stop</span>
    <button mat-fab color="accent" matTooltip="Stop Reading" (click)="stopReading()">
      <mat-icon svgIcon="mat:pan_tool"></mat-icon>
    </button>
  </div>
</div>

<!-- Floating buttons (right side) -->
<div class="floating-buttons right">
  <div class="button-container dark-theme">
    <button mat-fab color="primary" matTooltip="Dark Screen" (click)="toggleDarkTheme()">
      <mat-icon svgIcon="mat:invert_colors_off"></mat-icon>
    </button>
    <span class="button-label">Dark</span>
  </div>

  <div class="button-container light-theme">
    <button mat-fab color="primary" matTooltip="Light Screen" (click)="toggleLightTheme()">
      <mat-icon svgIcon="mat:invert_colors"></mat-icon>
    </button>
    <span class="button-label">Light</span>
  </div>

  <div class="button-container light-theme">
    <button mat-fab color="primary" matTooltip="Full Screen" (click)="toggleLightTheme()">
      <mat-icon svgIcon="mat:fullscreen"></mat-icon>
    </button>
    <span class="button-label">Full</span>
  </div>

  <div class="button-container light-theme">
    <button mat-fab color="primary" matTooltip="Search Book" (click)="toggleLightTheme()">
      <mat-icon svgIcon="mat:search"></mat-icon>
    </button>
    <span class="button-label">Search</span>
  </div>

  <div class="button-container light-theme">
    <button mat-fab color="primary" matTooltip="Text Format" (click)="toggleLightTheme()">
      <mat-icon svgIcon="mat:text_format"></mat-icon>
    </button>
    <span class="button-label">Text</span>
  </div>

  <div class="button-container light-theme">
    <button mat-fab color="primary" matTooltip="Bookmark AI" (click)="toggleLightTheme()">
      <mat-icon svgIcon="mat:bookmark"></mat-icon>
    </button>
    <span class="button-label">Bookmark</span>
  </div>

  <!--   <div class="button-container light-theme">
    <button mat-fab color="primary" matTooltip="Waves AI" (click)="toggleLightTheme()">
      <mat-icon svgIcon="mat:waves"></mat-icon>
    </button>
    <span class="button-label">AI</span>
  </div> -->

  <div class="button-container warn">
    <button mat-fab color="warn" matTooltip="Close Book" (click)="onCloseClick()">
      <mat-icon svgIcon="mat:exit_to_app"></mat-icon>
    </button>
    <span class="button-label">Close</span>
  </div>
</div>