.voice-selector {
  position: fixed;
  top: 0; // Define o topo como 0 para que o componente fique no topo da página
  left: 50%;
  transform: translateX(-50%);
  z-index: 10000; // Para garantir que fique acima de outros elementos
  width: auto; // Define a largura como automática para ajustar ao conteúdo
  border-radius: 5px;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  background: transparent; // Torna o fundo do componente transparente

  mat-label {
    font-size: 1em;
    color: #ffffff; // Define a cor da letra como branca
  }

  mat-select {
    width: 100%; // Garante que o mat-select ocupe toda a largura do contêiner

    .mat-select-trigger {
      color: #ffffff; // Define a cor do texto selecionado como branca
    }

    .mat-option {
      white-space: nowrap; // Impede a quebra de linha nos itens do menu
    }

    .mat-select-panel {
      min-width: 200px; // Define a largura mínima do painel de seleção
      width: auto !important; // Define a largura automática para ajustar ao conteúdo
    }
  }
}



.dialog-content-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  position: relative;

  .text-container {
    flex: 1;
    max-height: 700px;
    overflow-y: auto;
    padding: 20px;
    background: #f5f5f5;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  p {
    margin: 0;
    padding: 10px;
    transition: background-color 0.3s ease;
  }

  .highlighted {
    background-color: rgb(254, 254, 210);
    font-size: 1.5em; /* Aumenta o tamanho da fonte */
  }

  .current-word {
    background-color: rgb(242, 239, 238);
    font-size: 1.5em; /* Aumenta o tamanho da fonte */
  }
}

// Estilo para os botões flutuantes
.floating-buttons {
  position: fixed;
  display: flex;
  flex-direction: column;
  gap: 10px; /* Espaço entre os botões */

  &.left {
    top: 70px; // Ajustado para não sobrepor o seletor de voz
    left: 10px; /* Aproximar da borda esquerda do diálogo */

    .button-container {
      display: flex;
      align-items: center;
      justify-content: flex-end; /* Adicionado para empurrar o texto para a esquerda */
      gap: 10px; /* Espaço entre o botão e o rótulo */
    }
  }

  &.right {
    top: 70px; // Ajustado para não sobrepor o seletor de voz
    right: 10px; /* Aproximar da borda direita do diálogo */
  }

  .button-container {
    display: flex;
    align-items: center;
    gap: 10px; /* Espaço entre o botão e o rótulo */

    .button-label {
      font-size: 1em;
      color: #ffffff;
      white-space: nowrap;
    }

    &.warn .button-label {
      color: #ffffff; // Cor correspondente ao botão warn
    }

    &.primary .button-label {
      color: #ffffff; // Cor correspondente ao botão primary
    }

    &.accent .button-label {
      color: #ffffff; // Cor correspondente ao botão accent
    }

    button {
      box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
    }
  }

  // Estilos para o tema escuro
  .dark-theme {
    .button-label {
      color: #ffffff; // Cor do texto no tema escuro
    }
  }

  // Estilos para o tema claro
  .light-theme {
    .button-label {
      color: #ffffff; // Cor do texto no tema claro
    }
  }
}

.voze-container {
  position: fixed;
  top: 670px;
  left: 50%; /* Para centralizar horizontalmente */
  transform: translateX(-50%); /* Para centralizar horizontalmente */
  z-index: 9999;
  width: 100%; /* Garante que o contêiner ocupe
  width: 100%; /* Garante que o contêiner ocupe toda a largura */
  border-radius: 5px;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.download-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #f9f9f9;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

  a {
    display: block;
    margin-top: 10px;
    padding: 10px 15px;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    text-align: center;
    transition: background-color 0.3s;

    &:hover {
      background-color: #0056b3;
    }

    &:active {
      background-color: #004085;
    }
  }
}


/* entrada galeri */

// Tooltip
.tooltip-meu-tooltip {
  position: absolute;
  bottom: 100%; // Coloca o tooltip acima do elemento trigger
  left: 50%;
  transform: translateX(-50%);
  background-color: black;
  color: white;
  padding: 5px;
  border-radius: 4px;
  font-size: 12px;
  display: none; // Inicialmente oculto, mostre via JS ou evento
  z-index: 1000; // Garante que o tooltip apareça sobre outros elementos
  white-space: nowrap; // Previne quebra de linha no texto do tooltip

  // Adiciona uma pequena seta ou "ponta" ao tooltip, se desejar
  &:after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
  }
}

// Exemplo de classe adicional para mostrar o tooltip (adicione esta classe via JavaScript)
.tooltip-visible {
  display: block;
}



/* book.scss */
#area-de-exibicao {
  width: 100vw; /* 100% da largura da viewport */
  height: 100vh; /* 100% da altura da viewport */
  overflow: hidden; /* Esconde o scrollbar, se necessário */
  border: 1px solid #ccc; // Apenas para visualização, pode ser removido depois
  background-color: #fff; // Fundo branco para melhorar a legibilidade
}

.ebook-gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.ebook-item {
  margin: 10px;
  cursor: pointer;
}

.ebook-cover {
  width: 100px; // Ajuste conforme necessário
  height: 150px; // Ajuste conforme necessário
  object-fit: cover;
}

.ebook-title {
  text-align: center;
  margin-top: 5px;
}

.ebook-gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px; // Espaçamento entre os itens

  .ebook-item {
    width: 200px; // Define uma largura fixa para os itens para manter a consistência
    display: flex;
    flex-direction: column;
    align-items: center;

    .example-card {
      width: 100%; // Faz o card ocupar todo o espaço disponível do .ebook-item
      display: flex;
      flex-direction: column;

      mat-card-header {
        // Centra o conteúdo do cabeçalho
        text-align: center;

        mat-card-title-group {
          flex-direction: column;

          img[mat-card-xl-image] {
            // Ajusta o tamanho da imagem para caber bem no card
            max-width: 100%; // Limita a largura da imagem para não exceder o card
            height: auto; // Mantém a proporção da imagem
            border-radius: 5px; // Arredonda os cantos da imagem
          }
        }
      }

      mat-card-content {
        padding-top: 10px; // Adiciona um espaçamento entre o cabeçalho e o conteúdo
      }
    }
  }
}

// Media queries para responsividade
@media (max-width: 768px) {
  .ebook-gallery {
    .ebook-item {
      width: 150px; // Reduz o tamanho dos itens em telas menores
    }
  }
}

@media (max-width: 480px) {
  .ebook-gallery {
    .ebook-item {
      width: 100%; // Faz os itens ocuparem toda a largura da tela em dispositivos muito pequenos
    }
  }
}
