<div *ngIf="message" class="error-message">{{ message }}</div>
<div class="satoshi-alert" *ngIf="showSatoshiAlert">
  Satoshi: {{ totalSatoshis }}
</div>

<span class="satoshi">
  <button mat-raised-button color="primary" matTooltip="{{ totalSatoshis }}">
    <i class="fas fa-microphone" style="font-size: 35px;" matTooltip="AI"></i>
    <span class="material-symbols-outlined">graphic_eq</span>{{ speak }}
  </button>
  Powell Janulus Sticky Game
  <mat-chip class="custom-badge">
    <i class="fa fa-btc" matTooltip="Satoshi" aria-hidden="true" style="font-size: 30px; color: rgb(248, 187, 2);">
    </i>
    Satoshi: {{ totalSatoshis }}
  </mat-chip>
</span>

<div *ngIf="message" class="error-message">{{ message }}</div>
<div class="image-container">
  <div>

  </div>

  <table>
    <thead>
      <tr>
        <th>Who</th>
        <th>Why</th>
        <th>Action</th>
        <th>Where</th>
        <th matTooltip="Powell Janulus Sticky Game">Speak</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let combo of currentCombinations; let i = index" [ngClass]="{'active': i === currentPhraseIndex}">
        <td>{{ combo.who }}</td>
        <td>{{ combo.why }}</td>
        <td>{{ combo.action }}</td>
        <td>{{ combo.where }}</td>
        <td>
          <button *ngIf="i === currentPhraseIndex" matTooltip="Powell Janulus Sticky Game"
            (click)="speakText(combo.who + ' ' + combo.why + ' ' + combo.action + ' ' + combo.where)">
            <i class="fas fa-microphone" style="font-size: 35px;" matTooltip="AI"></i>
          </button>
        </td>
      </tr>
    </tbody>
  </table>

</div>