.container {
  padding: 20px;
}

.title {
  text-align: center;
  margin-bottom: 20px;
}

.search-bar {
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
}

.table-container {
  max-width: 100%;
  overflow-x: auto;
}

.online {
  color: green;
  display: flex;
  align-items: center;
}

.offline {
  color: red;
  display: flex;
  align-items: center;
}

.online-icon, .offline-icon {
  margin-right: 8px;
}

.call-button-online {
  color: green;
}

.call-button-offline {
  color: red;
}
