<vex-secondary-toolbar current="Game">
  <vex-breadcrumbs
    [crumbs]="['Student', 'Student']"
    class="flex-auto"></vex-breadcrumbs>

  <button class="ml-2" color="primary" mat-icon-button type="button">
    <mat-icon svgIcon="mat:more_vert"></mat-icon>
  </button>
</vex-secondary-toolbar>

<div class="example-box" cdkDrag>

  <ul>
    <li *ngFor="let studentCollection of studentCollection$ | async">
      <p>_id: {{ studentCollection._id }}</p>
      <p>name: {{ studentCollection.name }}</p>
      <p>bitcoin: {{ studentCollection.bitcoin }}</p>
      <p>books: {{ studentCollection.books }}</p>
      <p>city: {{ studentCollection.city }}</p>
      <p>country: {{ studentCollection.country }}</p>
      <p>courses: {{ studentCollection.courses }}</p>
      <p>date_create: {{ studentCollection.date_create }}</p>
      <p>email: {{ studentCollection.email }}</p>
      <p>end: {{ studentCollection.end }}</p>
      <p>facebook: {{ studentCollection.facebook }}</p>
      <p>gender: {{ studentCollection.gender }}</p>
      <p>image_url: {{ studentCollection.image_url }}</p>
      <p>instagram: {{ studentCollection.instagram }}</p>
      <p>lessons_done: {{ studentCollection.lessons_done }}</p>
      <p>linkedin: {{ studentCollection.linkedin }}</p>
      <p>list_word_text: {{ studentCollection.list_word_text }}</p>
      <p>login: {{ studentCollection.login }}</p>
      <p>password: {{ studentCollection.password }}</p>
      <p>personal_ident_number: {{ studentCollection.personal_ident_number }}</p>
      <p>phone: {{ studentCollection.phone }}</p>
      <p>spoken_language: {{ studentCollection.spoken_language }}</p>
      <p>status: {{ studentCollection.status }}</p>
      <p>tax_ident_number: {{ studentCollection.tax_ident_number }}</p>
      <p>tiktok: {{ studentCollection.tiktok }}</p>
    </li>
  </ul>

</div>

