<div class="student-container">
  <mat-card class="student-card" *ngIf="student$ | async as student">
    <mat-card-header>
      <div mat-card-avatar class="student-avatar"></div>
      <mat-card-title>{{ student.name }}</mat-card-title>
      <mat-card-subtitle>{{ student.email }}</mat-card-subtitle>
    </mat-card-header>
   <!--  <img mat-card-image [src]="student.image_url" alt="Student photo"> -->
    <mat-card-content>
      <p><strong>City:</strong> {{ student.city }}</p>
      <p><strong>Country:</strong> {{ student.country }}</p>
      <p><strong>Courses:</strong> {{ student.courses?.join(', ') }}</p>
      <p><strong>Books:</strong> {{ student.books }}</p>
      <p><strong>End:</strong> {{ student.end }}</p>
      <p><strong>Facebook:</strong> {{ student.facebook }}</p>
      <p><strong>Gender:</strong> {{ student.gender }}</p>
      <p><strong>Instagram:</strong> {{ student.instagram }}</p>
      <p><strong>LinkedIn:</strong> {{ student.linkedin }}</p>
      <p><strong>Login:</strong> {{ student.login }}</p>
      <p><strong>Password:</strong> {{ student.password }}</p>
      <p><strong>Personal Ident Number:</strong> {{ student.personal_ident_number }}</p>
      <p><strong>Phone:</strong> {{ student.phone }}</p>
      <p><strong>Spoken Language:</strong> {{ student.spoken_language }}</p>
      <p><strong>Status:</strong> {{ student.status }}</p>
      <p><strong>Tax Ident Number:</strong> {{ student.tax_ident_number }}</p>
      <p><strong>TikTok:</strong> {{ student.tiktok }}</p>
      <p><strong>Satoshi Balance:</strong> {{ student.satoshiBalance }}</p>
      <p><strong>Last Login:</strong> {{ student.lastLogin }}</p>
      <p><strong>Date Created:</strong> {{ student.date_create }}</p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-fab color="primary" (click)="openEditDialog(student)" matTooltip="Edit">
        <span class="material-symbols-outlined" style="font-size: 30px;">edit</span>
      </button>
    </mat-card-actions>
  </mat-card>
</div>
