<div class="board">
  <div *ngFor="let card of cards" class="card" [class.flipped]="card.isFlipped" [class.matched]="card.isMatched" (click)="flipCard(card)">
    <div class="card-inner">
      <div class="card-front">
        ?
      </div>
      <div class="card-back">
        <img *ngIf="card.image" [src]="card.image" [alt]="card.word">
        <span *ngIf="!card.image">{{ card.word }}</span>
      </div>
    </div>
  </div>
</div>

<!-- <div class="controls">
  <span>Pares de Cartas Restantes: {{remainingPairs}}</span>
  <span>Movimentos: {{moves}}</span>
  <button mat-raised-button color="primary" (click)="newGame()">Novo Jogo</button>
</div> -->
