
<div class="content">
  <div class="message">

    Priming is:
    <p></p>
    Pomodoro
    <p></p>
    WimHof
    <p></p>
    Zettelkasten
    <p></p>
    Shadowing
    <p></p>
    RSVP
    <p></p>
    MemoryPalace
    <p></p>
    SpacedRepetition

  </div>

<!--   <div *ngIf="mostrarImagem" class="video-wrapper">
    <video autoplay muted loop playsinline>
      <source src="../../../../assets/priming.mp4" type="video/mp4">
    </video>
  </div> -->

  <!-- Imagem que será alternada -->
  <img [src]="imagemAtual" alt="Priming">


</div>


