body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
}

.background {
  background-image: url('../../../../assets/img/game/tetris.png');
  background-size: cover;
  background-position: center;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

.tetris-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;

  canvas {
    border: 2px solid #333;
    background-color: rgba(255, 255, 255, 0.8); // Semi-transparente para ver um pouco do fundo
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }
}