.video-chat-container {
  width: 100%; // Ajusta para ocupar toda a largura do diálogo
  height: 100%; // Ajusta para ocupar toda a altura do diálogo
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  box-sizing: border-box;
  overflow: hidden;
}

.videos {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-grow: 1;
  padding: 20px; // Ajusta o espaçamento conforme necessário
}

.local-video, .remote-video {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 45%;
}

video {
  width: 100%; // Ajusta a largura dos vídeos para ocupar todo o espaço disponível na coluna
  height: auto; // Mantém a proporção dos vídeos
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.user-info {
  text-align: center;
  margin-top: 10px;
}

.local-user-info, .remote-user-info {
  margin-top: 10px;
}

.connection-status {
  text-align: center;
  margin-top: 10px;
}

.controls {
  margin: 20px 0;
  display: flex;
  justify-content: space-around;
}

textarea {
  width: 45%; // Alinhado para dois campos de texto lado a lado
  height: 50px;
  margin-bottom: 10px;
}

mat-form-field {
  width: 45%; // Alinhado para dois campos de formulário lado a lado
}

.button-container {
  width: 100%; // Ajusta para ocupar toda a largura
  display: flex;
  justify-content: center;
  padding: 20px;
  box-sizing: border-box;
}

.toolbar {
  display: flex;
  justify-content: center; // Centraliza os botões na barra de ferramentas
  align-items: center;
  padding: 10px;
  background-color: #333;
  color: #fff;
  position: absolute;
  bottom: 0; // Coloca a barra de ferramentas no rodapé
  width: 100%; // Faz a barra de ferramentas ocupar toda a largura do diálogo
  box-sizing: border-box;
}

.toolbar button {
  background: none;
  border: none;
  color: #fff;
  font-size: 24px;
  margin: 0 10px;
  cursor: pointer;
}

.toolbar button:hover {
  color: #bbb;
}

// No seu arquivo .scss

$red: red;
$green: green;

.icon {
  &-red {
    color: $red;
  }

  &-green {
    color: $green;
  }
}

.toolbar .button {
  margin: 0 10px;

  i {
    font-size: 24px;
  }
}

/* online-status.scss */

.online-status {
  position: fixed;
  bottom: 50px; /* Distância da parte inferior da tela */
  left: 20px;  /* Distância da parte esquerda da tela */
  z-index: 1000; // Garante que fique por cima de outros elementos (opcional)

  i {
    font-size: 4rem;
  }
}
