<div class="prism-container">
  <div *ngIf="!showTable && !showSavedTexts" class="button-container">
    <div class="center-buttons">
      <button (click)="goBackToList()" class="back-button" matTooltip="go Back To List">
        <span class="material-symbols-outlined" style="color: rgb(254, 39, 1); font-size: 50px;">
          low_priority
        </span>
      </button>

      <button (click)="toggleReading()" matTooltip="Reading">
        <span class="material-symbols-outlined" [style.color]="isReading ? 'rgb(248, 187, 2)' : 'rgb(50, 205, 50)'"
          [style.fontSize]="'70px'">
          {{ isReading ? 'pause_circle' : 'play_circle' }}
        </span>
      </button>

      <button (click)="voiceRecognitionService.increaseSpeechRate()">+</button>
      <button (click)="voiceRecognitionService.decreaseSpeechRate()">-</button>
    </div>

    <div class="right-buttons">
      <button (click)="openTextSizeMenu()" matTooltip="open Text Size Menu">
        <span class="material-symbols-outlined" style="color: rgb(0, 0, 255); font-size: 50px;">
          menu_book
        </span>
      </button>

      <button (click)="applyBeeLineReader()" matTooltip="BeeLine Reader ( Dyslexia, ADHD): adds color gradients to digital text to improve reading ability and focus.">
        <span class="material-symbols-outlined" [style.color]="isBeeLineActive ? 'rgb(255, 0, 0)' : 'rgb(0, 0, 255)'"
          [style.fontSize]="'50px'">
          {{ isBeeLineActive ? 'palette' : 'color_lens' }}
        </span>
      </button>

      <button (click)="toggleCaptions()" matTooltip="Toggle Captions">
        <span class="material-symbols-outlined" [style.color]="showCaptions ? 'rgb(255, 0, 0)' : 'rgb(0, 0, 255)'"
          [style.fontSize]="'50px'">
          {{ showCaptions ? 'closed_caption_disabled' : 'closed_caption' }}
        </span>
      </button>

      <button (click)="toggleDarkMode()" matTooltip="Toggle Dark Mode">
        <span class="material-symbols-outlined" [style.color]="isDarkMode ? 'rgb(255, 215, 0)' : 'rgb(0, 0, 0)'"
          [style.fontSize]="'50px'">
          {{ isDarkMode ? 'brightness_low' : 'dark_mode' }}
        </span>
      </button>

      <button (click)="toggleDyslexicMode()" matTooltip="Toggle Dyslexic Mode">
        <span class="material-symbols-outlined" [style.color]="isDyslexicMode ? 'red' : 'blue'"
          [style.fontSize]="'50px'">
          {{ isDyslexicMode ? 'script' : 'font_download' }}
        </span>
      </button>

      <button (click)="increaseTextSize()" matTooltip="increase Text Size">
        <span class="material-symbols-outlined" style="color: rgb(1, 103, 255); font-size: 50px;">text_increase</span>
      </button>
      <button (click)="decreaseTextSize()" matTooltip="decrease Text Size">
        <span class="material-symbols-outlined" style="color: rgb(1, 103, 255); font-size: 50px;">text_decrease</span>
      </button>

      <label for="fontSelect" matTooltip="Select Font"></label>
      <select id="fontSelect" matTooltip="Select Font" (change)="changeFont($event)" [value]="selectedFont">
        <option *ngFor="let font of fonts" [value]="font">{{ font }}</option>
      </select>

      <div id="text-size-menu" class="dropdown-menu" [ngClass]="{'show-menu': isTextSizeMenuOpen}">
        <div>
          <label for="voiceSelect" matTooltip="Select Voice">
            <span class="material-symbols-outlined" style="color: rgb(1, 103, 255); font-size: 50px;">
              voice_chat
            </span>
          </label>
          <select id="voiceSelect" (change)="onVoiceChange($event)" matTooltip="Voice Select Menu">
            <option *ngFor="let voice of voices" [value]="voice.name">
              {{ voice.name }} ({{ voice.lang.split('-')[0] }})
            </option>
          </select>
        </div>

        <button (click)="uploadFile.click()" matTooltip="Load Text">
          <span class="material-symbols-outlined" style="color: rgb(0, 123, 255); font-size: 50px;">
            upload_file
          </span>
          <i class="modus-icons" aria-hidden="true">file_type_text</i>
        </button>
        <input type="file" #uploadFile (change)="loadFile($event)" accept=".txt" style="display: none;" />

        <button (click)="closeTextSizeMenu()" matTooltip="close Text Size Menu">
          <span class="material-symbols-outlined" style="color: rgb(255, 99, 71); font-size: 50px;">close</span>
        </button>
      </div>
    </div>
  </div>

  <div *ngIf="showTable">
    <div class="filter-container">
      <label for="levelFilter" class="filter-label">
        <span class="material-symbols-outlined" style="color: rgb(0, 123, 255); font-size: 50px;">filter_list</span>
        Filter by Level:
      </label>
      <select id="levelFilter" (change)="filterByLevel($event)" class="custom-select" matTooltip="
      CEFR English Levels
      A0 - Complete Beginner.
      A1 - Beginner.
      A2 - Elementary.
      B1 - Intermediate.
      B2 - Advanced Intermediate.
      C1 - Advanced.
      C2 - Proficient.">
        <option value="">All</option>
        <option *ngFor="let level of uniqueLevels" [value]="level">{{ level }}</option>
      </select>

      <div>
        <button (click)="previousPage()" [disabled]="page === 0" matTooltip="Previous Page">
          <span class="material-symbols-outlined" style="color: rgb(0, 123, 255); font-size: 50px;">
            arrow_back_ios
          </span>
        </button>

        <button (click)="nextPage()" matTooltip="Next Page">
          <span class="material-symbols-outlined" style="color: rgb(0, 123, 255); font-size: 50px;">
            arrow_forward_ios
          </span>
        </button>
      </div>

      <div>
        <button (click)="uploadFile.click()" matTooltip="Load Text">
          <span class="material-symbols-outlined" style="color: rgb(0, 123, 255); font-size: 50px;">
            upload_file
          </span>
        </button>
        <input type="file" #uploadFile (change)="loadFile($event)" accept=".txt" style="display: none;" />
      </div>

      <div>
        <select id="voiceSelect" (change)="onVoiceChange($event)" matTooltip="Voice Select Menu">
          <option *ngFor="let voice of voices" [value]="voice.name">
            {{ voice.name }} ({{ voice.lang.split('-')[0] }})
          </option>
        </select>
        <label for="voiceSelect" matTooltip="Select Voice">
          <span class="material-symbols-outlined" style="color: rgb(1, 103, 255); font-size: 50px;">
            voice_chat
          </span>
        </label>
      </div>
    </div>
    <table>
      <thead>
        <tr>
          <th (click)="sortTable('level')">Level</th>
          <th (click)="sortTable('prime')">Prime</th>
          <th (click)="sortTable('target')">Target</th>
          <th (click)="sortTable('firstSentence')">First Sentence</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let text of filteredTexts; let i = index" (click)="selectText(i)">
          <td>
            <ng-container [ngSwitch]="text.level">
              <ng-container *ngSwitchCase="'A0'">
                <span class="material-symbols-outlined" matTooltip="Level for absolute beginners">school</span>
                A0 - Complete Beginner.
              </ng-container>
              <ng-container *ngSwitchCase="'A1'">
                <span class="material-symbols-outlined" matTooltip="Level for beginners">book</span>
                A1 - Beginner.
              </ng-container>
              <ng-container *ngSwitchCase="'A2'">
                <span class="material-symbols-outlined"
                  matTooltip="Level where basic concepts are grasped">lightbulb</span>
                A2 - Elementary.
              </ng-container>
              <ng-container *ngSwitchCase="'B1'">
                <span class="material-symbols-outlined"
                  matTooltip="Level with intermediate understanding">blur_on</span>
                B1 - Intermediate.
              </ng-container>
              <ng-container *ngSwitchCase="'B2'">
                <span class="material-symbols-outlined"
                  matTooltip="Level exceeding intermediate skills">trending_up</span>
                B2 - Advanced Intermediate.
              </ng-container>
              <ng-container *ngSwitchCase="'C1'">
                <span class="material-symbols-outlined" matTooltip="Advanced level with strong foundation">school</span>
                C1 - Advanced.
              </ng-container>
              <ng-container *ngSwitchCase="'C2'">
                <span class="material-symbols-outlined" matTooltip="Highest level of proficiency">star</span>
                C2 - Proficient.
              </ng-container>
              <ng-container *ngSwitchDefault>
                {{ text.level }} (Unknown Level)
                <span class="material-symbols-outlined" matTooltip="Level information unavailable">help</span>
              </ng-container>
            </ng-container>
          </td>

          <td>{{ text.prime }}</td>
          <td>{{ text.target }}</td>
          <td>{{ text.text.split('. ')[0] }}</td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="showSavedTexts">
    <table>
      <thead>
        <tr>
          <th>File Name</th>
          <th>Page Read</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let text of savedTexts" (click)="openSavedText(text)">
          <td>{{ text.fileName }}</td>
          <td>{{ text.pageRead }}</td>
        </tr>
      </tbody>
    </table>
  </div>

  <div #textContainer class="text-container"></div>

  <div class="caption-container" *ngIf="showCaptions && currentSentence" #captionContainer>
    {{ currentSentence }}
  </div>

  <!-- Button to switch to Saved Texts view -->
  <button (click)="showSavedTexts = !showSavedTexts" class="toggle-saved-texts-button" matTooltip="Toggle Saved Texts">
    <span class="material-symbols-outlined" style="color: rgb(0, 123, 255); font-size: 50px;">
      {{ showSavedTexts ? 'list_alt' : 'folder_open' }}
    </span>
  </button>
</div>
