.prism-container {
  .button-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    height: 100px;
    z-index: 1000;

    .center-buttons,
    .right-buttons {
      display: flex;
      gap: 20px;
    }

    .center-buttons {
      justify-content: center;
      flex: 1;
    }

    .right-buttons {
      justify-content: flex-end;
      flex: 1;
    }
  }

  .dropdown-menu {
    display: none;
    position: absolute;
    top: 60px;
    right: 0;
    background-color: white;
    border: 1px solid #ddd;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    z-index: 1001;
  }

  .dropdown-menu.show-menu {
    display: block;
  }

  .dropdown-menu button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    width: 100%;
    border: none;
    background-color: white;
    cursor: pointer;
    font-size: 16px;
    border-bottom: 1px solid #ddd;

    span {
      font-size: 24px;
      color: #000;
    }

    &:hover {
      background-color: #f2f2f2;
    }

    &:last-child {
      border-bottom: none;
    }
  }

  .fixed-button-container {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .back-button {
    background: none;
    border: none;
    cursor: pointer;
  }

  .text-container {
    font-size: 25px;
    line-height: 1.6;
    text-align: justify;
    position: relative;
    padding: 0 20px;
    
    .word {
      display: inline-block;
      transition: color 0.5s ease;
    }

    .verb {
      color: #FF4500; // Orange-Red
      font-weight: bold;
    }

    .adjective {
      color: #32CD32; // Lime Green
      font-style: italic;
    }

    .noun {
      color: #4169E1; // Royal Blue
      text-decoration: underline;
    }

    .adverb {
      color: #9932CC; // Dark Orchid
      font-weight: bold;
      font-style: italic;
    }
  }

  }

  table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;

    th, td {
      padding: 10px;
      border: 1px solid #ddd;
      text-align: left;
    }

    th {
      background-color: #f2f2f2;
      font-weight: bold;
    }

    tbody tr:hover {
      background-color: #f1f1f1;
      cursor: pointer;
    }
  }

  .pagination-controls {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;

    button {
      padding: 10px 20px;
      border: none;
      background-color: #007bff;
      color: white;
      cursor: pointer;
      font-size: 16px;
      border-radius: 5px;

      &:disabled {
        background-color: #ccc;
        cursor: not-allowed;
      }
    }
  }

  .hidden {
    display: none;
  }

  .focus-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    z-index: 1000;
  }

  .focus-highlight {
    position: absolute;
    width: 100%;
    height: 9em;
    top: 50%;
    left: 0;
    background: rgba(255, 255, 255, 0.2);
    z-index: 1001;
    pointer-events: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }

  .current-sentence {
    background-color: transparent;
    color: #ffffff;
    font-weight: bold;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
    position: relative;
    z-index: 1002;
  }

  .caption-container {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    text-align: center;
    font-size: 35px;
    padding: 50px 100px;
    line-height: 1.6;
    z-index: 1000;
  }

  .dark-mode {
    background-color: rgba(0, 0, 0, 0.8);
    color: #ffffff;

    .text-container {
      background-color: rgba(0, 0, 0, 0.8);
      color: #ffffff;
      padding: 0 20px;
    }

    .button-container button span {
      color: #ffffff;
    }

    .caption-container {
      background-color: #333333;
      color: #ffffff;
    }

    table {
      background-color: #333333;
      color: #ffffff;
    }

    th, td {
      border-color: #555555;
    }

    .pagination-controls button {
      background-color: #444444;
      color: #ffffff;
    }

    .word {
      color: #ffffff;
    }

    .sentence-0, .sentence-1, .sentence-2 {
      color: #ffffff;
    }
  }

  .dyslexic-mode {
    font-family: 'OpenDyslexic', sans-serif;
    line-height: 1.6;
    letter-spacing: 0.1em;
    word-spacing: 0.2em;
  }

  @font-face {
    font-family: 'OpenDyslexic';
    src: url('/assets/fonts/opendyslexic-regular.woff2') format('woff2');
  }

  .filter-container {
    display: flex;
    align-items: center;
    margin-bottom: 20px;

    .filter-label {
      font-size: 18px;
      color: #1E90FF;
      display: flex;
      align-items: center;

      .filter-icon {
        margin-right: 8px;
        font-size: 24px;
      }
    }

    .custom-select {
      margin-left: 10px;
      padding: 8px;
      font-size: 16px;
      border: 2px solid #1E90FF;
      border-radius: 4px;
      color: #1E90FF;
      background-color: #f0f8ff;
      transition: all 0.3s ease;

      &:hover {
        border-color: #4682B4;
        background-color: #e0ffff;
      }

      &:focus {
        outline: none;
        box-shadow: 0 0 5px #4682B4;
      }
    }
  }

