::ng-deep .mat-dialog-container {
  height: 100vh;
  max-height: 100vh;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.mat-dialog-content {
  flex: 1;
  overflow: auto;
}

.sentence-container {
  display: flex;
  align-items: center;
}

table {
  width: 100%;
}

td {
  padding: 10px;
}

button {
  flex: 1;
}

.highlighted-yellow {
  line-height: 1.5;
  background-color: hsla(0, 90%, 92%, 0.511);
  font-weight: bold;
  font-size: 30px;
}

.highlighted-gray {
  line-height: 1.5;
  background-color: hsla(0, 90%, 92%, 0.511);
  font-weight: bold;
  font-size: 40px;
}

.play-sound-button {
  position: fixed;
  left: 50%;
  bottom: 0px;
  transform: translateX(-50%);
  z-index: 1050;
  width: 90px;
  height: 90px;
}

.play-sound-button mat-icon {
  font-size: 60px;
  height: 60px;
  width: 60px;
}

.play-sound-button2 {
  width: 90px;
  height: 90px;
  margin-right: 20px;
}

.play-sound-button2 mat-icon {
  font-size: 60px;
  height: 60px;
  width: 60px;
}

.waveform-container {
  cursor: pointer;
  width: 100%;
  height: 10px;
}

.close-button {
  position: fixed;
  right: 20px; /* Increased from 0px to give some space from the right edge */
  top: 20px; /* Increased from 0px to give some space from the top edge */
  z-index: 1050;
  width: 40px; /* Slightly increased size */
  height: 40px; /* Slightly increased size */
  background-color: rgba(255, 255, 255, 0.8); /* Added a semi-transparent background */
  border-radius: 50%; /* Make it circular */
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Added a subtle shadow */
}

.close-button mat-icon {
  font-size: 24px; /* Adjusted icon size */
}

.card {
  position: relative;
}

/* Classes para os estados dos botões */
.clicked {
  background-color: red !important;
  color: white;
}

.button-enabled {
  background-color: green;
  color: white;
}

.button-disabled {
  background-color: red;
  color: white;
}

/* Estilização para o texto falado */
.spoken-text {
  font-size: 24px; /* Aumentando o tamanho da fonte do texto falado */
  margin-top: 10px; /* Adicionando espaçamento entre o título e o texto falado */
}

/* Classe para a palavra destacada */
.highlighted-word {
  background-color: yellow;
  font-weight: bold;
}

/* Satoshi alert fixo */
.satoshi-alert {
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #e0d999;
  color: #000;
  padding: 10px 20px;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  font-size: 18px;
  font-weight: bold;
  z-index: 2000; /* Ensure it's above other elements */
}


.subtitle {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 20px;
  font-size: 24px;
  z-index: 1050; // Garanta que isso seja suficientemente alto
  width: 80%;
  text-align: center;
  border-radius: 10px;
}

.custom-badge {
  position: relative;
  display: flex;
  align-items: left;
  justify-content: left;

  .mat-badge-content {
    font-size: 20px; /* Ajuste o tamanho da fonte do badge */
    width: 80px; /* Ajuste a largura do badge */
    height: 80px; /* Ajuste a altura do badge */
    line-height: 40px; /* Centralize o texto verticalmente */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: red; /* Cor de fundo do badge */
    color: white; /* Cor do texto do badge */
    border-radius: 50%; /* Faz o badge ser circular */
  }
}