<!-- Alerta de Satoshi -->
<span class="satoshi-alert">
<mat-chip class="custom-badge">
  <i class="fa fa-btc" aria-hidden="true" style="font-size: 60px; color: rgb(248, 187, 2);"></i>
  Satoshi: {{ totalSatoshis }}
  <i class="fa fa-battery-quarter" style="font-size: 40px; color: green;"></i>
</mat-chip>
</span>

<div mat-dialog-content class="full-height">
  <label for="voices">Select Voice:
    <span class="material-symbols-outlined" style="color: rgb(1, 103, 255); font-size: 50px;">
      voice_chat
    </span>
  </label>
  <select id="voices" (change)="onVoiceChange($event)">
    <option *ngFor="let voice of voices" [value]="voice.name">{{ voice.name }}</option>
  </select>

  <table>
    <tr *ngFor="let sentence of sentences; let i = index">
      <td>
        <button 
          (click)="togglePlaySentence(i)" 
          matTooltip="Play Sentence">
          <span class="material-symbols-outlined" 
                [style.color]="playClicked[i] ? 'rgb(255, 69, 0)' : 'rgb(144, 238, 144)'" 
                [style.fontSize]="'50px'">
            {{ playClicked[i] ? 'stop_circle' : 'play_circle' }}
          </span>
        </button>
      </td>
      <td [innerHTML]="highlightWords(sentence, i)"></td>
      <td>
        <button 
          matTooltip="Speak Sentence" 
          (click)="toggleSpeakSentence(i)">
          <span class="material-symbols-outlined" 
                [style.color]="speakClicked[i] ? 'rgb(255, 69, 0)' : 'rgb(50, 205, 50)'" 
                [style.fontSize]="'50px'">
            {{ speakClicked[i] ? 'mic_off' : 'mic' }}
          </span>
        </button>
      </td>
    </tr>
  </table>
</div>
<button mat-icon-button matTooltip="Close" class="close-button" color="warn" type="button" (click)="onClose()">
  <mat-icon svgIcon="mat:close"></mat-icon>
</button>
<div class="subtitle" *ngIf="spokenText">{{ spokenText }}</div>


