$sprite-url: '../../../../assets/img/game/offline-sprite-2x.png';
$background-url: '../../../../assets/img/game/frag.png'; // Caminho para a imagem de fundo enviada
$dino-width: 88px;
$dino-height: 94px;
$game-height: 100vh; // Ajustar para 100% da altura da viewport

body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden; // Adicionado para evitar barra de rolagem
}

.game-container {
  position: relative;
  width: 100%;
  height: $game-height;
  background: url($background-url) no-repeat center center fixed; // Usando a imagem de fundo
  background-size: cover; // Ajustando a imagem de fundo para cobrir todo o container
  overflow: hidden;

  h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 24px;
    cursor: pointer;
  }

  .dinosaur {
    position: absolute;
    left: 20px;
    width: $dino-width;
    height: $dino-height;
    background: url($sprite-url) no-repeat;
    background-size: 2404px $dino-height;
    transition: bottom 0.1s linear, left 0.1s linear;
  }

  .word {
    position: absolute;
    font-size: 24px;
    white-space: nowrap;

    &.high {
      top: calc(100vh - 160px); // Posição alta, alcançável apenas pulando
    }

    &.middle {
      top: calc(100vh - 230px); // Posição média, na direção do dinossauro
    }

    &.low {
      top: calc(100vh - 300px); // Posição baixa, o dinossauro pode pular por cima
    }
  }
}

@keyframes dinoRun {
  0% { background-position: -1338px -2px; }
  50% { background-position: -1514px -2px; }
  100% { background-position: -1338px -2px; }
}

.game-started .dinosaur {
  animation: dinoRun 0.3s steps(2) infinite;
}

.score {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 40px; // Aumentar o tamanho da fonte
  color: #000;
}
