<div class="game-container" (click)="startGame()" *ngIf="!gameStarted">
  <h1>Click</h1>
</div>
<div class="game-container" *ngIf="gameStarted">
  <div class="dinosaur" [ngStyle]="getDinoStyle()"></div>
  <div *ngFor="let word of words" class="word" [class.high]="word.positionType === 'high'" [class.middle]="word.positionType === 'middle'" [class.low]="word.positionType === 'low'" [style.left.px]="word.position" [style.color]="word.color">
    {{ word.value }}
  </div>
  <div *ngIf="showScore" class="score">
    Words: {{ wordsCaptured }} <br>
    Last Captured Word: {{ words.length ? words[words.length - 1].value : '' }}
  </div>
</div>
