$sprite-url: '../../../../assets/img/game/offline-sprite-2x.png';
$background-url: '../../../../assets/img/game/frag.png';
$dino-width: 88px;
$dino-height: 94px;
$game-height: 100vh;

body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden; // Garantir que não haja rolagem
}

.game-container {
  position: relative;
  width: 100%;
  height: 100vh; // Ocupa 100% da altura da viewport
  background: url($background-url) no-repeat center center fixed;
  background-size: cover;
  overflow: hidden;

  h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 24px;
    cursor: pointer;
  }

  .dinosaur {
    position: absolute;
    left: 20px;
    width: $dino-width;
    height: $dino-height;
    background: url($sprite-url) no-repeat;
    background-size: 2404px $dino-height;
    transition: bottom 0.1s linear, left 0.1s linear;
  }

  .word {
    position: absolute;
    font-size: 24px;
    white-space: nowrap;

    &.high {
      top: calc(100vh - 160px); // Posição alta, alcançável apenas pulando
    }

    &.middle {
      top: calc(100vh - 230px); // Posição média, na direção do dinossauro
    }

    &.low {
      top: calc(100vh - 300px); // Posição baixa, o dinossauro pode pular por cima
    }
  }

  .score {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 60px; // Tamanho grande para o score temporário
    color: #fff; // Cor branca para o score temporário
    background: rgba(0, 0, 0, 0.7); // Fundo semi-transparente para destacar o score
    padding: 20px;
    border-radius: 10px;
  }

  .last-word {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #FFA07A; // Cor de fundo salmão claro
    padding: 10px;
    border-radius: 5px;
    margin-top: 10px;
    font-weight: bold;
    color: white; // Ajuste a cor do texto conforme necessário
    font-size: 40px;
  }
}

@keyframes dinoRun {
  0% { background-position: -1338px -2px; }
  50% { background-position: -1514px -2px; }
  100% { background-position: -1338px -2px; }
}

.game-started .dinosaur {
  animation: dinoRun 0.3s steps(2) infinite;
}
