<mat-accordion>
  <mat-expansion-panel hideToggle expanded>
    <mat-expansion-panel-header>
      <mat-panel-title>Classes</mat-panel-title>
    </mat-expansion-panel-header>
    <div class="ebook-gallery">
      <div *ngFor="let ebook of pdfLoaderService.ebooks$ | async" class="ebook-item" (click)="selectEbook(ebook)">
        <mat-card class="example-card">
          <mat-card-header>
            <mat-card-title>{{ ebook.title }}</mat-card-title>
            <mat-card-subtitle>{{ ebook.author }}</mat-card-subtitle>
          </mat-card-header>
          <img mat-card-image [src]="ebook.cover" alt="{{ ebook.title }}">
          <mat-card-footer>
            <span>{{ ebook.pageCount }} Pag</span>
            <button (click)="toggleCompletion(ebook.title)" matTooltip="Completion Status">
              <ng-container *ngIf="isEbookCompleted(ebook.title); else notCompleted">
                <span class="material-symbols-outlined" [style.color]="'red'" [style.fontSize]="'30px'">
                  heart_check
                </span>
                <span style="color: red; font-size: 25px;">Finish</span>
              </ng-container>
              <ng-template #notCompleted>
                <span class="material-symbols-outlined" [style.color]="'rgb(0, 0, 255)'" [style.fontSize]="'20px'">
                  star_border
                </span>
                <span class="material-symbols-outlined" [style.color]="'rgb(0, 0, 255)'" [style.fontSize]="'20px'">
                  auto_stories
                </span>
              </ng-template>
            </button>
          </mat-card-footer>
        </mat-card>
      </div>
    </div>
  </mat-expansion-panel>

  <mat-expansion-panel *ngIf="selectedEbook" hideToggle expanded>
    <mat-expansion-panel-header>
      <mat-panel-title>Class Material</mat-panel-title>
    </mat-expansion-panel-header>
    <div id="area-de-exibicao" *ngIf="selectedEbook">
      <ngx-extended-pdf-viewer 
        [src]="selectedEbook.path" 
        [textLayer]="true" 
        [showHandToolButton]="true"
        [handTool]="false">
      </ngx-extended-pdf-viewer>
    </div>
    <div class="completion-icons">
      <button (click)="toggleCompletion(selectedEbook.title)" matTooltip="Completion Status">
        <ng-container *ngIf="isEbookCompleted(selectedEbook.title); else notCompletedSelected">
          <span class="material-symbols-outlined" [style.color]="'red'" [style.fontSize]="'40px'">
            heart_check
          </span>
          <span style="color: red; font-size: 40px;">Finish</span>
        </ng-container>
        <ng-template #notCompletedSelected>
          <span class="material-symbols-outlined" [style.color]="'rgb(0, 0, 255)'" [style.fontSize]="'40px'">
            star_border
          </span>
          <span class="material-symbols-outlined" [style.color]="'rgb(0, 0, 255)'" [style.fontSize]="'40px'">
            auto_stories
          </span>
        </ng-template>
      </button>
    </div>
  </mat-expansion-panel>
</mat-accordion>
