#waveform {
  background: linear-gradient(to right, #ffffff, #ffffff);
  border-radius: 5px; // Arredondar os cantos para uma aparência suave
}

// Container do Waveform
.waveform-container {
  position: relative;
  width: 100%; // ou a largura desejada
  height: auto; // ou a altura desejada
  // Outros estilos necessários para o container
}

// Waveform
#waveform {
  cursor: pointer;
  // Estilos específicos para o waveform
}

// Tooltip
.tooltip-meu-tooltip {
  position: absolute;
  bottom: 100%; // Coloca o tooltip acima do elemento trigger
  left: 50%;
  transform: translateX(-50%);
  background-color: black;
  color: white;
  padding: 5px;
  border-radius: 4px;
  font-size: 12px;
  display: none; // Inicialmente oculto, mostre via JS ou evento
  z-index: 1000; // Garante que o tooltip apareça sobre outros elementos
  white-space: nowrap; // Previne quebra de linha no texto do tooltip

  // Adiciona uma pequena seta ou "ponta" ao tooltip, se desejar
  &:after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
  }
}

// Exemplo de classe adicional para mostrar o tooltip (adicione esta classe via JavaScript)
.tooltip-visible {
  display: block;
}



/* book.scss */
#area-de-exibicao {
  width: 100vw; /* 100% da largura da viewport */
  height: 100vh; /* 100% da altura da viewport */
  overflow: hidden; /* Esconde o scrollbar, se necessário */
  border: 1px solid #ccc; // Apenas para visualização, pode ser removido depois
  background-color: #fff; // Fundo branco para melhorar a legibilidade
}

.ebook-gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.ebook-item {
  margin: 10px;
  cursor: pointer;
}

.ebook-cover {
  width: 100px; // Ajuste conforme necessário
  height: 150px; // Ajuste conforme necessário
  object-fit: cover;
}

.ebook-title {
  text-align: center;
  margin-top: 5px;
}

.ebook-gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px; // Espaçamento entre os itens

  .ebook-item {
    width: 200px; // Define uma largura fixa para os itens para manter a consistência
    display: flex;
    flex-direction: column;
    align-items: center;

    .example-card {
      width: 100%; // Faz o card ocupar todo o espaço disponível do .ebook-item
      display: flex;
      flex-direction: column;

      mat-card-header {
        // Centra o conteúdo do cabeçalho
        text-align: center;

        mat-card-title-group {
          flex-direction: column;

          img[mat-card-xl-image] {
            // Ajusta o tamanho da imagem para caber bem no card
            max-width: 100%; // Limita a largura da imagem para não exceder o card
            height: auto; // Mantém a proporção da imagem
            border-radius: 5px; // Arredonda os cantos da imagem
          }
        }
      }

      mat-card-content {
        padding-top: 10px; // Adiciona um espaçamento entre o cabeçalho e o conteúdo
      }
    }
  }
}

// Media queries para responsividade
@media (max-width: 768px) {
  .ebook-gallery {
    .ebook-item {
      width: 150px; // Reduz o tamanho dos itens em telas menores
    }
  }
}

@media (max-width: 480px) {
  .ebook-gallery {
    .ebook-item {
      width: 100%; // Faz os itens ocuparem toda a largura da tela em dispositivos muito pequenos
    }
  }
}
