<div class="game-container">
  <div *ngIf="message" class="error-message">{{ message }}</div>

<!--   <div class="button-group">
    <i class="fa fa-btc" aria-hidden="true" style="font-size: 60px; color: rgb(248, 187, 2);"></i>
    <span>Satoshi</span>
    <i class="fa fa-battery-quarter" style="font-size: 40px; color: green;"></i>
  </div>  -->

  <div class="question-container">
    <div class="question-message" *ngIf="currentQuestion">{{ currentQuestion }}
      <button mat-icon-button (click)="repeatQuestion()" matTooltip="AI">
        <i class="fas fa-microphone" style="font-size: 35px;"></i>
      </button>
    </div>
  </div>

  <div class="answer-container">
    <div class="answer-message" *ngIf="currentAnswer">{{ currentAnswer }}
      <button mat-icon-button (click)="repeatAnswer()" matTooltip="AI">
        <i class="fas fa-microphone" style="font-size: 35px; color: #65a9e1;" ></i>
      </button>
    </div>
  </div>

  <div #mic id="mic" class="waveform-container"></div>
  <div #waveformPlay id="waveformPlay" class="waveformPlay"></div>
   
  <div class="content-wrapper">
    <button mat-raised-button color="accent" matTooltip="AI" (click)="skipToNextQuestion()">Next Question
      <i class="fa fa-arrow-right" aria-hidden="true"></i>
    </button>
  </div>
</div>
